@page
@model SUBDCOURSE.Pages.ApartamentsModel
@{
}
<div class="text-center">
    <h2 class="text-center">Апартаменты</h2>
    <table id="myTable" class="info__table">
        <thead>
            <tr class="info__table-row">
                <th class="info__table-column">Номер апартаментов</th>
                <th class="info__table-column">Фото</th>
                <th class="info__table-column">Название тарифа</th>
                <th class="info__table-column">Номер (порядковый)</th>
                <th class="info__table-column">Площадь</th>
                <th class="info__table-column">Удобства</th>
                <th class="info__table-column">Включенные услуги</th>
                <th class="info__table-column">Цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apartament in Model.Apartaments)
            {
                <tr class="info__table-row">
                    <td class="info__table-column">@apartament.Id</td>
                    <td class="info__table-column">
                        <div class="info__table-column-avatar">
                            <img src="@apartament.ImageUrl" alt="" class="info__table-column-avatar-image">
                        </div>
                    </td>
                    <td class="info__table-column">@apartament.Tariff.Name</td>
                    <td class="info__table-column">@apartament.Number</td>
                    <td class="info__table-column">@apartament.Area кв.м.</td>

                    <td class="info__table-column">
                        @foreach (var pair in Model.ApartamentFacilities.Where(pair => pair.Apartament is not null && pair.Apartament.Id == apartament.Id))
                        {
                            @pair.Facility.Name
                            @Html.Raw("<br/>")
                        }
                    </td>

                    <td class="info__table-column">
                        @foreach (var pair in Model.IncludedServices.Where(pair => pair.Apartament is not null && pair.Apartament.Id == apartament.Id))
                        {
                            @pair.Service.Name
                            @Html.Raw("<br/>")
                        }
                    </td>
                    <td class="info__table-column">@apartament.Price руб.</td>
                </tr>
            }
        </tbody>
    </table>
@*    <form method="post">
        <button asp-page-handler="UpdateSum" id="submit" class="itemButtonReview">Обновить сумму номера</button>
    </form>*@
</div>

<div class="forms_blocks">
    <form class="itemReviewForm" method="post">
        Выберите тариф:
        <select id="tariff_id" class="select_option" name="tariff_id" required>
            <option></option>
            @foreach (var s in Model.Tariffs)
            {
                <option>@s.Name</option>
            }
        </select>
        <input type="number" name="number" class="itemInputName" placeholder="Введите номер" required />
        <input type="number" name="area" class="itemInputName" placeholder="Введите площадь" required />
        <input type="text" name="photo" class="itemInputName" placeholder="Введите название картинки" required />

        <button asp-page-handler="Insert" id="submit" class="itemButtonReview">Добавить</button>
    </form>

    <form class="itemReviewForm" method="post">
        Выберите номер апартаментов:
        <select id="apartament_id" class="select_option" name="apartament_id" required>
            <option></option>
            @foreach (var s in Model.Apartaments)
            {
                <option>@s.Id</option>
            }
        </select>
        <button asp-page-handler="Delete" id="submit" class="itemButtonReview">Удалить</button>
    </form>
</div>

<br />

<div class="forms_blocks">
    <form class="itemReviewForm" method="post">
        Выберите номер апартаментов:
        <select id="apartament_id" class="select_option" name="apartament_id" required>
            <option></option>
            @foreach (var s in Model.Apartaments)
            {
                <option>@s.Id</option>
            }
        </select>

        Выберите удобство:
        <select id="facility_id" class="select_option" name="facility_id" required>
            <option></option>
            @foreach (var s in Model.Facilities)
            {
                <option><strong>@s.Name</strong></option>
            }
        </select>
        <button asp-page-handler="InsertFacility" id="submit" class="itemButtonReview">Добавить удобство</button>
    </form>

    <form class="itemReviewForm" method="post">
        Выберите номер апартаментов:
        <select id="apartament_id" class="select_option" name="apartament_id" required>
            <option></option>
            @foreach (var s in Model.Apartaments)
            {
                <option>@s.Id</option>
            }
        </select>

        Выберите услугу:
        <select id="service_id" class="select_option" name="service_id" required>
            <option></option>
            @foreach (var s in Model.Services)
            {
                <option>@s.Name | Цена: @(s.Price / 2)</option>
            }
        </select>
        <button asp-page-handler="InsertService" id="submit" class="itemButtonReview">Добавить услугу</button>
    </form>
</div>
