@page
@model SUBDCOURSE.Pages.BookingModel
@{
}
<div class="text-center">

    <h2 class="text-center">Заказы</h2>
    <table id="myTable" class="info__table">
        <thead>
            <tr class="info__table-row">
                <th class="info__table-column">№</th>
                <th class="info__table-column">Номер апартаментов</th>
                <th class="info__table-column">Клиент</th>
                <th class="info__table-column">Начальная дата</th>
                <th class="info__table-column">Конечная дата</th>
                <th class="info__table-column">Заказные услуги</th>
                <th class="info__table-column">Сумма заказа</th>
                <th class="info__table-column">По телефону</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model.Bookings)
            {
                <tr class="info__table-row">
                    <td class="info__table-column">@booking.Id</td>
                    <td class="info__table-column">@booking.Apartament.Number</td>
                    <td class="info__table-column">@booking.Client.SecondName @booking.Client.FirstName @booking.Client.ThirdName</td>
                    <td class="info__table-column">@booking.FirstDate.ToString("dd/MM/yyyy")</td>
                    <td class="info__table-column">@booking.EndDate.ToString("dd/MM/yyyy")</td>
                    <td class="info__table-column">
                        @foreach (var pair in Model.BookingServices.Where(pair => pair.Booking is not null && pair.Booking.Id == booking.Id))
                        {
                            @pair.Service.Name
                            @Html.Raw("<br/>")
                        }
                    </td>
                    <td class="info__table-column">@booking.SumPrice</td>
                    <td class="info__table-column">@(booking.Reservation ? "Да" : "Нет")</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <form method="post">
        <button asp-page-handler="UpdateSum" id="submit" class="itemButtonReview">Обновить сумму заказа</button>
    </form>
</div>

<div class="forms_blocks">

    <form class="itemReviewForm" method="post">
        Выберите ID апартаментов:
        <select id="apartament_id" class="select_option" name="apartament_id" required>
            <option></option>
            @foreach (var s in Model.Apartaments)
            {
                <option>@s.Id номер: @s.Number</option>
            }
        </select>

        Выберите ID клиента:
        <select id="client_id" class="select_option" name="client_id" required>
            <option></option>
            @foreach (var s in Model.Clients)
            {
                <option>@s.Id @s.SecondName @s.SecondName @s.ThirdName</option>
            }
        </select>

        <input name="firstdate" class="itemInputName" placeholder="Начальная дата" required />
        <input name="enddate" class="itemInputName" placeholder="Конечная дата" required />
        <input name="reservation" class="itemInputName" placeholder="По телефону" required />
        <button asp-page-handler="Insert" id="submit" class="itemButtonReview">Добавить</button>
    </form>

    <form class="itemReviewForm" method="post">
        Выберите ID заказа:
        <select id="booking_id" class="select_option" name="booking_id" required>
            <option></option>
            @foreach (var s in Model.Bookings)
            {
                <option>@s.Id</option>
            }
        </select>
        <button asp-page-handler="Delete" id="submit" class="itemButtonReview">Удалить</button>
    </form>

    <form class="itemReviewForm" method="post">
        Выберите ID заказа:
        <select id="booking_id" class="select_option" name="booking_id" required>
            <option></option>
            @foreach (var s in Model.Bookings)
            {
                <option>@s.Id</option>
            }
        </select>

        Выберите сервис:
        <select id="service_id" class="select_option" name="service_id" required>
            <option></option>
            @foreach (var s in Model.Services)
            {
                <option>@s.Id @s.Name</option>
            }
        </select>
        <button asp-page-handler="InsertService" id="submit" class="itemButtonReview">Добавить сервис</button>
    </form>

</div>
