@page
@model SUBDCOURSE.Pages.ServicesModel
@{
}
<div class="text-center">

    <h2 class="text-center">Услуги</h2>
    <table id="myTable" class="info__table">
        <thead>
            <tr class="info__table-row">
                <th class="info__table-column">Номер услуги</th>
                <th class="info__table-column">Название услуги</th>
                <th class="info__table-column">Описание услуги</th>
                <th class="info__table-column">Цена услуги</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var service in Model.Services)
            {
                <tr class="info__table-row">
                    <td class="info__table-column">@service.Id</td>
                    <td class="info__table-column">@service.Name</td>
                    <td class="info__table-column">@service.Description</td>
                    <td class="info__table-column">@service.Price руб.</td>
                </tr>
            }
        </tbody>
    </table>


</div>

<div class="forms_blocks">
    <form class="itemReviewForm" method="post">
        <input name="name" class="itemInputName" placeholder="Название" required />
        <input name="description" class="itemInputName" placeholder="Описание" required />
        <input type="text" onkeypress='validate(event)' name="price" class="itemInputName" placeholder="Цена (руб.)" required />
        <button asp-page-handler="Insert" id="submit" class="itemButtonReview">Добавить</button>
    </form>

    <form class="itemReviewForm" method="post">
        Выберите номер услуги:
        <select id="service_id" class="select_option" name="service_id" required>
            <option></option>
            @foreach (var s in Model.Services)
            {
                <option>@s.Id</option>
            }
        </select>
        <input name="name" class="itemInputName" placeholder="Введите новое название" required />
        <input name="description" class="itemInputName" placeholder="Введите новое описание" required />
        <input type="number" name="price" class="itemInputName" placeholder="Введите новую цену (руб.)" required />
        <button asp-page-handler="Update" id="submit" class="itemButtonReview">Изменить</button>
    </form>

    <form class="itemReviewForm" method="post">
        Выберите услугу:
        <select id="service_id" class="select_option" name="service_id" required>
            <option></option>
            @foreach (var s in Model.Services)
            {
                <option>@s.Name</option>
            }
        </select>
        <button asp-page-handler="Delete" id="submit" class="itemButtonReview">Удалить</button>
    </form>
</div>

