@page
@model SUBDCOURSE.Pages.TariffsModel
@{
}
<div class="text-center">

    <h2 class="text-center">Тарифы</h2>
    <table id="myTable" class="info__table">
        <thead>
            <tr class="info__table-row">
                <th class="info__table-column">Номер тарифа</th>
                <th class="info__table-column">Название тарифа</th>
                <th class="info__table-column">Описание тарифа</th>
                <th class="info__table-column">Цена тарифа</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tariff in Model.Tariffs)
            {
                <tr class="info__table-row">
                    <td class="info__table-column">@tariff.Id</td>
                    <td class="info__table-column">@tariff.Name</td>
                    <td class="info__table-column">@tariff.Description</td>
                    <td class="info__table-column">@tariff.Price руб.</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="forms_blocks">
    <form class="itemReviewForm" method="post">
        <input name="name" class="itemInputName" placeholder="Название" required />
        <input name="description" class="itemInputName" placeholder="Описание" required />
        <input type="number" name="price" class="itemInputName" placeholder="Цена (руб.)" required />
        <button asp-page-handler="Insert" id="submit" class="itemButtonReview">Добавить</button>
    </form>

    <form class="itemReviewForm" method="post">
        Выберите тариф:
        <select id="tariff_id" class="select_option" name="tariff_id" required>
            <option></option>
            @foreach (var s in Model.Tariffs)
            {
                <option>@s.Name</option>
            }
        </select>
        <button asp-page-handler="Delete" id="submit" class="itemButtonReview">Удалить</button>
    </form>
</div>
